doctype html
html(ng-app='app')
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body(ng-controller="app.mainController")
    block content
  script(src='/javascripts/jquery.min.js')
  script(src='/javascripts/angular.min.js')
  script(src='/javascripts/lib/app.js')
  script(src='/javascripts/lib/contactService.js')
  script(src='/javascripts/lib/directives/contactEditor/contactEditor.js')
  script(src='/javascripts/lib/directives/contact/contact.js')
