@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home Page";
}
<div class="row">
    <div class="col-md-4">
        <h2>New/Selected Contact:</h2>
        <ul>
            <li>
                <contact-editor></contact-editor>
            </li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2>Contacts:</h2>
        <ul ng-repeat="contact in contacts track by $index">
            <li>
                <contact-card contact="contact"></contact-card>
            </li>
        </ul>
    </div>
</div>